:root {
  --orange: hsla(32, 100%, 50%, 1);
  --yellow: hsla(49, 99%, 50%, 1);
  --lime: hsla(82, 90%, 45%, 1);
  --green: hsla(127, 81%, 41%, 1);
  --red: hsla(342, 93%, 53%, 1);
  --pink: hsla(314, 85%, 45%, 1);
  --blue: hsla(211, 92%, 52%, 1);
  --purple: hsla(283, 92%, 44%, 1);
  --cyan: hsla(195, 98%, 55%, 1);
  --sky: hsla(226.6, 94%, 70%, 1);
  --white: hsla(0, 0%, 95%, 1);
  --black: hsla(0, 0%, 10%, 1);

  /* abstract our colours */
  --boxMain: var(--pink);
  --boxSecond: var(--purple);
  --boxHigh: var(--yellow);
  --border: 1vmin solid var(--black);
  --borderRad: 2px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: sans-serif, system-ui;
  font-size: 100%;
  color: var(--black);
}

.parent {
  display: flex;
}
.narrow {
  width: 128px;
}
.wide {
  flex: 1;
  /* Grow to rest of container */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 0 30%;
  height: 1000px;
  margin-bottom: 2%; /* (100-32*3)/2 */
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:rgb(146, 13, 146);background-color:#e8edff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#f39ee5;}
.tg .tg-hmp3{background-color:#D2E4FC;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}

.green {
  color: rgb(29, 180, 29);
}

  h1 {
    font-size: 2em;
    color: purple;
    line-height: 1;
    padding: 8px;
    margin: 4px;
  }

  h2 {
    font-size: 1.5em;
    color: purple;
    line-height: 1;
    padding : 4px;
  }

  h4 {
    font-size: 1em;
    color: rgb(220, 20, 170);
    line-height: 1.5;
    padding : 16px;
    margin : 0;
  }

  p {
    font-size : 16px;
    padding: 16px;
    margin : 0;
}

input {
  padding: 4px;
}

textarea {
  margin: 8px;
}

span {
  padding: 8px;
}

button {
  margin: 4px;
}
